<section class="section" id="contact">
  <div class="container contact">
    <div class="section-box">
      <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
       
        <h4 class="e-font contact-title big-title">
          {{ "Contact.Title" | translate }}
        </h4>
      </div>
      <p data-aos="fade-up" data-aos-duration="1000">
        {{ "Contact.Content" | translate }}
      </p>
      <div class="mt-5">
        <a
          (click)="
            analyticsService.sendAnalyticEvent(
              'click_send_mail',
              'contact',
              'email'
            )
          "
          href="mailto:alikallebi.dev@gmail.com"
          target="_blank"
          class="main-btn black-btn"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <i class="fas fa-envelope"></i> {{ "Contact.EmailBtn" | translate }}
        </a>
      </div>
      <div class="mt-3">
        <a
          (click)="
            analyticsService.sendAnalyticEvent(
              'click_whatsapp',
              'contact',
              'whatsapp'
            )
          "
          href="https://wa.me/23448595"
          target="_blank"
          class="main-btn black-btn"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <i class="fab fa-whatsapp"></i> {{ "Contact.WTSPBtn" | translate }}
        </a>
      </div>
      <div class="mt-3">
        <a
          (click)="
            analyticsService.sendAnalyticEvent(
              'click_instagram',
              'contact',
              'instagram'
            )
          "
          href="https://www.instagram.com/alibenamerkallebi/"
          target="_blank"
          class="main-btn black-btn"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <i class="fab fa-instagram"></i> {{ "Contact.InstagramBtn" | translate }}
        </a>
      </div>
    </div>
  </div>
</section>
